<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script data-main="config.requirejs" src="lib/require-2.1.20.js"></script>
	<style>
		body{/*background-color:black; color:white; */font-family:arial; font-size:14px;}
		h2{margin-top:40px;}
		input{/*background-color:black; color:white; */border:0; padding:0; width:100px;}
		table th,table td{border:1px solid black; padding:5px;}
		code{width:400px;}

		.add{color:#0F0;}
		del{color:#F00;}

		.output{padding:20px; float:left; width:250px; height:100px; margin:5px; text-align:center;}
		.clearfix{clear:both;}
	</style>
</head>
<body ng-app="myApp" ng-controller="demoLive">
	<h1>Examples</h1>
	Do not use the view source as reference code. This page uses Angular and requirejs and the source code may be confusing to people who are unfamiluar with these tools, The 'code used' colum in some tables outlines the correct useage or refer to README.md instead.

	<h2>Why use strToColor?</h2>
	In many user interfaces a programmer needs a quick way of colourising entries in a list. Imagine a list of 50 blog posts on a page, authored by 10 different authors. Each of the 10 authors has 5 blog posts each, totaling 50 blog posts in the list. In this example we could use strToColour to colourise the blog post background, depending on the author name. 

	<h2>How strToColor works</h2>
	We take any string, for example: <input type="text" ng-model="teststring" placeholder="Type something here..."><br>
	The crc32 of the string above is {{ teststring | helper_showcrc }} in hex.	
	You can <a href="https://www.tools4noobs.com/online_php_functions/crc32/" target="_blank">verify</a> this with <a href="https://google.com/search?q=crc32+online" target="_blank">any</a> <a href="http://www.fileformat.info/tool/hash.htm?text={{ teststring }}" target="_blank">online</a> service.<br>

	We then substring the first 6 digits and use that as a hex color code:
	<table>
		<tr>
			<th>string</th>
			<th>crc</th>
			<th>operation</th>
			<th>css color</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="teststring" placeholder="Type something here..."></td>
			<td>{{ teststring | helper_showcrc }}</td>
			<td><span class="add">#</span>{{ teststring | helper_showcrc | substring:{start:0,end:6} }}<del>{{ teststring | helper_showcrc | substring:{start:6,end:8} }}</del></td>
			<td style="background:{{ teststring | strToColor }}">{{ teststring | strToColor }}</td>
		</tr>
	</table>
	The table above illustrates how strToColor provides a CSS color based on a string. The colour is seamingly random, but because it is based on the crc of the string you will get the same color for each string provided (repeatable).

	<h2>Example</h2>
	<table>
		<tr>
			<th>string</th>
			<!-- <th>operation</th> -->
			<th>result css color</th>
			<th>code used</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="teststring" placeholder="Type something here..."></td>
			<!-- <td><span class="add">#</span>{{ teststring | helper_showcrc | substring:{start:0,end:6} }}<del>{{ teststring | helper_showcrc | substring:{start:6,end:8} }}</del></td> -->
			<td style="background:{{ teststring | strToColor }};">{{ teststring | strToColor }}</td>
			<td><code>strToColor.colorize('{{ teststring }}').toCSS();</code></td>
		</tr>
		<tr ng-repeat="word in words">
			<td>{{ word }}</td>
			<!-- <td><span class="add">#</span>{{ word | helper_showcrc | substring:{start:0,end:6} }}<del>{{ word | helper_showcrc | substring:{start:6,end:8} }}</del></td> -->
			<td style="background:{{ word | strToColor }};">{{ word | strToColor }}</td>
			<td><code>strToColor.colorize('{{word}}').toCSS();</code></td>
		</tr>
	</table>

	<h2>The colors are too random! (using transforms)</h2>
	This procedure outlined above will give colors that are from any part of the spectrum, some bright some dark...
	This may not be suitable for all use cases (for example, the string "maybe" creates a colour that means you cant read the black text), so a color model is included so that you can do some basic transforms and get more harmoginised colors.
	<pre><code>
strToColor.colorize('{{ teststring }}',{
	transform:[
		{setSaturation: 1},
		{setLightness: 0.6}
	]
});
	</code></pre>
	<table>
		<tr>
			<th>string</th>
			<th>default</th>
			<th>Saturation 100%,<br>Lightness 60%</th>
			<th>code used</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="teststring" placeholder="Type something here..."></td>
			<td style="background:{{ teststring | strToColor }};">{{ teststring | strToColor }}</td>
			<td style="background:{{ teststring | strToColor:{transform:[{setSaturation:1},{setLightness:0.6}]} }};">{{ teststring | strToColor:{transform:[{setSaturation:1},{setLightness:0.6}]} }}</td>
			<td><code>strToColor.colorize('{{ teststring }}',{transform:[{setSaturation:1},{setLightness:0.6}]});</code></td>
		</tr>
		<tr ng-repeat="word in words">
			<td>{{ word }}</td>
			<td style="background:{{ word | strToColor }};">{{ word | strToColor }}</td>
			<td style="background:{{ word | strToColor:{transform:[{setSaturation:1},{setLightness:0.6}]} }};">{{ word | strToColor:{transform:[{setSaturation:1},{setLightness:0.6}]} }}</td>
			<td><code>strToColor.colorize('{{ word }}',{transform:[{setSaturation:1},{setLightness:0.6}]});</code></td>
		</tr>
	</table>
	example for white text
	<table>
		<tr>
			<th>string</th>
			<th>default</th>
			<th>Saturation 100%,<br>Lightness 20%</th>
			<th>code used</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="teststring" placeholder="Type something here..."></td>
			<td style="background:{{ teststring | strToColor }}; color:white;">{{ teststring | strToColor }}</td>
			<td style="background:{{ teststring | strToColor:{transform:[{setSaturation:1},{setLightness:0.2}]} }}; color:white;">{{ teststring | strToColor:{transform:[{setSaturation:1},{setLightness:0.2}]} }}</td>
			<td><code>strToColor.colorize('{{ teststring }}',{transform:[{setSaturation:1},{setLightness:0.2}]});</code></td>
		</tr>
		<!--tr ng-repeat="word in words">
			<td>{{ word }}</td>
			<td style="background:{{ word | strToColor }}; color:white;">{{ word | strToColor }}</td>
			<td style="background:{{ word | strToColor:{transform:[{setSaturation:1},{setLightness:0.2}]} }}; color:white;">{{ word | strToColor:{transform:[{setSaturation:1},{setLightness:0.2}]} }}</td>
			<td><code>strToColor.colorize('{{ word }}',{transform:[{setSaturation:1},{setLightness:0.2}]});</code></td>
		</tr-->
	</table>
	a full list of transforms is available <a href="https://github.com/brehaut/color-js/#methods" target="_blank">here</a>.


	<h2>I dont like the colours this method selected for my set of strings</h2>
	You can switch the mode so that strToColor uses, so that different digits of the crc are used. There are 28 modes, numbered 0 to 27.<br>
	Each mode removes 2 digits from the 8 available.<br>
	mode 0 removes the last two digits of the crc.<br>
	mode 9 removes the middle two digits of the crc.<br>
	mode 27 removes the first two digits of the crc.<br>
	The modes option is really only useful if you dont like a particular set of colors for a particular set of words, or if websites dont want to use the same color schemes.
	<table>
		<tr>
			<th>string</th>
			<th>crc</th>
			<th style="width:20px;">mode</th>
			<th>mode mask</th>
			<th>result</th>
			<th>code used</th>
		</tr>
		<tr ng-repeat="n in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,-100]">
			<td>{{ teststring }}</td>
			<td>{{ teststring | helper_showcrc }}</td>
			<td style="width:20px;">{{ teststring | helper_showmode:{mode:n} }}</td>
			<td>{{ teststring | helper_showmodemask:{mode:n} }}</td>
			<td style="background:{{ teststring | strToColor:{mode:n} }};">{{ teststring | strToColor:{mode:n} }}</td>
			<td><code>strToColor.colorize('{{ teststring }}',{mode:{{ n }}});</code></td>
		</tr>
		<tr>
			<td>{{ teststring }}</td>
			<td>{{ teststring | helper_showcrc }}</td>
			<td style="width:20px;">{{ teststring | helper_showmode:{mode:'bad'} }}</td>
			<td>{{ teststring | helper_showmodemask:{mode:'bad'} }}</td>
			<td style="background:{{ teststring | strToColor:{mode:'bad'} }};">{{ teststring | strToColor:{mode:'bad'} }}</td>
			<td><code>strToColor.colorize('{{ teststring }}',{mode:"{{ 'bad' }}"});</code></td>
		</tr>
	</table>


		
		
	<!--div class="output" style="background-color:{{ teststring | strToColor }}; text-shadow:0px 1px 4px black; color:white;">
		
		<span ng-non-bindable>{{ teststring | strToColor }}</span>
	</div>
	
	<div class="output" style="background-color:{{ teststring | strToColor:{ transform:[{setSaturation:1},{setLightness:0.5}]} }};">
		<span ng-non-bindable>{{ teststring | strToColorVivid }}</span>
	</div>
	
	<div class="output" style="background-color:{{ teststring | strToColorLight }}; color:black;">
		<span ng-non-bindable>{{ teststring | strToColorLight }}</span>
	</div>
	
	<div class="output" style="background-color:{{ teststring | strToColorDark }}; color:white;">
		<span ng-non-bindable>{{ teststring | strToColorDark }}</span>
	</div>
	
	<div class="output" style="background-color:{{ teststring | strToColor:{ mode:2, transform:[{setSaturation:1},{setLightness:0.5}]} }};">
		<span ng-non-bindable>{{ teststring | strToColor (w/ custom inline) }}</span>
	</div-->









	<!--hr class="clearfix">

	<h2>modes</h2>
	<div ng-controller="demoModes">
		
		<h3>mode 0 strToColor</h3>
		<div class="output" ng-repeat="word in words" style="background-color:{{ word | strToColor:{ mode:0 } }};">{{ word }} {{ word | strToColor:{ mode:0 } }}</div>
		<div class="clearfix"></div>
		
		<h3>mode 1 strToColor</h3>
		<div class="output" ng-repeat="word in words" style="background-color:{{ word | strToColor:{ mode:1 } }};">{{ word }} {{ word | strToColor:{ mode:1 } }}</div>
		<div class="clearfix"></div>
		
		<h3>mode 2 strToColor</h3>
		<div class="output" ng-repeat="word in words" style="background-color:{{ word | strToColor:{ mode:2 } }};">{{ word }} {{ word | strToColor:{ mode:2 } }}</div>
		<div class="clearfix"></div>
		
	</div>
	<hr class="clearfix"-->

</body>
</html>